body {
	color: #777;
	font-family: monospace;
	background-color: ghostwhite;
}

#menu a.img {
    padding: 0;
}

#menu .pure-menu li a:hover,
#menu .pure-menu li a:focus {
	background: initial;
}

.header {
	margin: 0 auto;
	max-width: 800px;
}

h1:after {
	content: " ";
	display: block;
	width: 150px;
	margin-top: 1rem;
	margin-bottom: 2rem;
	border-bottom: 4px solid #333;
}

.content > .pure-g {
	margin-top: 1rem;
}

@media (max-width: 48em) {

	#layout.active #main {
		opacity: .2;
	}

}
