<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{ site.description }}">
	<title>{{ site.title }}</title>

	<link rel="icon" href="favicon.png">
	
	<link rel="stylesheet" href="//cdn.jsdelivr.net/pure/0.6.0/pure-min.css">
			
	<!--[if lte IE 8]>
	<link rel="stylesheet" href="{{ site.baseurl }}/css/side-menu-old-ie.css">
	<![endif]-->
	<!--[if gt IE 8]><!-->
	<link rel="stylesheet" href="{{ site.baseurl }}/css/side-menu.css">
	<!--<![endif]-->

	<link rel="stylesheet" href="{{ site.baseurl }}/css/base.css">

	{% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
	{% for post in posts %}
		<link rel="alternate" hreflang="{{ post.lang }}" href="{{ site.baseurl }}{{ post.url }}" />
	{% endfor %}
	
	{% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
	{% for page in pages %}
		<link rel="alternate" hreflang="{{ page.lang }}" href="{{ site.baseurl }}{{ page.url }}" />
	{% endfor %}

</head>
