<script src="{{ site.baseurl }}/js/ui.js"></script>
<script src="{{ site.baseurl }}/js/blueimp-helper.js"></script>
<script src="{{ site.baseurl }}/js/blueimp-gallery.min.js"></script>

<script>
	blueimp.Gallery(
		document.getElementById('galeria'),
		{
			onslide: function (index, slide) {
				var text = this.list[index].getAttribute('data-description'),
				node = this.container.find('.description');
				node.empty();
				if (text) {
					node[0].appendChild(document.createTextNode(text));
				}
			}
		}
);</script>
