<!doctype html>
<html lang="en">

{% include head.html %}

    <body>
        <div id="layout">

        {% include menu.html %}

            <div id="main">
                <div class="header">
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle %}<h2>{{ page.subtitle }}</h2>{% endif %}
                </div>
                <div class="content">

                    {{ content }}

                </div>
            </div>
        </div>

        {% include js.html %}

        {% if page.galeria == "si" %}
            {% include blueimp-gallery.html %}
        {% endif %}

        {% comment %}    {% include google_analytics.html %} {% endcomment %}

    </body>
</html>
